{% extends "base.html" %}
{% block content %}
<div class="col-lg-4">
	<div class="row">
		<h2 class="center">The Problem</h2>
		<div class="panel-default data-story-top">
			<h3>Amateur Investors Are Idiots</h3>
			<p>Amateur investors, myself included, are generally stupid. When investing in peer-to-peer loans, we tend to devise heuristic strategies with no (or very little) data to back up their efficacy. Sometimes I will look at the debt-to-income ratio of borrowers. Other times the annual income or the profession. These strategies lead to marginal returns and eventual frustration with the peer-to-peer lending system.</p>
			<p>The purpose of this project is to create a data-driven investment strategy for loan on the Lending Club marketplace, using the metric of highest estimated ROI.</p>
		
		<div id="problem-plot" class="data-story-plot panel-body"></div>
		</div>
	</div>
	<div class="row">
		<div class="panel-default data-story-top">
			<h3>What This Project Is Not</h3>
			<p>Let me get the caveats out of the way first - this project is not a black-box money maker for the peer-to-peer investor. It is not intended to provide financial advice, but rather to give an insight into the fast growing peer-to-peer lending club space.</p>
			<p>A number of simplifying assumptions have been made, which should be carefully scrutinized.</p>
			<ol>
				<li>Without having access to the detailed payment history of each borrower, I have had to make assumptions about when and how they pay their installments. For example, in the case of prepayment, all I know is the total amount of money paid and the date of the last payment. I therefore assumed that the borrower made normal monthly payments until the last payment, where they then paid the remaining principle in full.</li>
				<p></p>
				<li>No fees. I have not included any of the fees charged by Lending Club</li>
				<p></p>
				<li>36 month loans originating before 2013. I focused solely on 36 month loans to simplify the analysis. A next step is to extend this to the 60 month loans. In addition, I only incorporated loans originating before 2013 because loans having originated after this have not yet had a chance to mature (as of jan 2015). These newer loans would therefore throw off both the default rate and the prepayment rate.</li>
			</ol>
		<div id="problem-plot" class="data-story-plot panel-body"></div>
		</div>
	</div>
	<div class="row">
		<h2 class="center">Data Overview</h2>
		<div class="panel-default">
			<div id="loan-status-plot" class="data-story-plot panel-body"></div>
			<div id="loan-status-right" class="panel-default data-text">
				<h3>Dataset Overview</h3>
				<p>The dataset from Lending Club consists of details for over 300,000 loans originating since 2007. Of these, almost 100,000 have either been fully paid or have been charged off. These are the loans used in this project. This project has been restricted to only using 36-month term loans.</p>
				<p>In the LC dataset are a number of features on the borrower's credit: debt-to-income ratio, credit score range, number of open credit card accounts, income, etc. These data have been augmented by unemployment rates in the borrower's state (Bureau of Labor Statistics) and the 3-year swap interest rate, taken as an indicator of the risk-free interest rate.</p>
				<p>As seen in the plot on the left, only 27% of loans are paid back following the schedule prescribed by lending club. 57% are paid back early, and 16% default. It is therefore critical for an investor to be able to estimate the probability of prepayment and default, as well as the expected time for it to happen.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="default-hist-left" class="panel-default data-text">
			<h3>Time to Default</h3>
				<p>Defaults are one of the biggest risks for a peer-to-peer investor. When a default occurs, the investors not only lose future income, but also the principle they had invested in the loan to begin with.</p>
				<p>Even though 16% of all loans default, they do so at different times in their lives. As seen in the plot on the right, loans tend to default rather early, with relatively few defaulting after 24 months.</p>
				<p>In addition to being able to buy a stake in a loan when it originates, investors can also trade notes with one another, provided they are not currently late or in default. This is another reason why it's critical to understand when a loan is expected to default.</p>
		</div>
		<div id="default-hist" class="data-story-plot panel-body"></div>
	</div>
	<div class="row">
		<div id="prepaid-hist" class="data-story-plot panel-body"></div>
		<div id="prepaid-hist-right" class="panel-default data-text">
			<h3>Time to Prepayment</h3>
				<p>Borrowers on LC are free to pay back the balance of their loans early if they choose - there is no prepayment fee. Surprisingly, 57% of borrowers did just that within the first 33 months of their loan term. From an investor's perspective, a prepaid loan is not as bad as a default. It is, however, lost revenue as the principle needs to make its way through the LC platform, and then will sit for at least a week until it can be invested in a new loan.</p>
		</div>
	</div>

	<div class="row">
		<h2 class="center">Algorithm</h2>
		<div class="panel-default">
			<div id="algorithm-left" class="panel-default data-text">
			<div id="algorithm-plot" class="data-story-plot panel-body"></div>
				<h3>Overview</h3>
				<p>Three pieces of information were desired from the analysis:</p>
				<ol>
					<li>1. Probability of Default/Prepay/Fully Pay</li>
					<li>2. If a loan defaults/is prepaid, when is it likely to occur</li>
					<li>3. Given 1 and 2, what is the expected ROI</li>
				</ol>
				<p>To begin the attack, the data was carefully examined for outliers, correlated features, incorrect data, and to get an overall impression of the dataset (a USPS driver was incorrectly listed as making $7 million dollars a year, for instance).</p>
				<p>After the exploratory analysis, the data was cleaned and the categorical variables were binarized. It was at this step that outside economic data was incorporated for each borrower's location and issue year. Following the cleaning process, the data was loaded into an Amazon AWS MySQL server to allow easy access and integrity.</p>
			</div>
		</div>
	</div>
	<div class="row">
		<div id="logistic-regr-plot" class="data-story-plot panel-body">
			<table>
				<thead>
					<tr>
						<th>Class</th>
						<th>Precision</th>
						<th>Recall</th>
						<th>F1-Score</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Default</td>
						<td>0.71</td>
						<td>0.01</td>
						<td>0.02</td>
					</tr>
					<tr>
						<td>Fully Paid on Time</td>
						<td>0.53</td>
						<td>0.10</td>
						<td>0.17</td>
					</tr>
					<tr>
						<td>Prepaid</td>
						<td>0.68</td>
						<td>0.99</td>
						<td>0.80</td>
					</tr>
					<tr>
						<td colspan="4">Overall Accuracy: 0.68</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="logistic-regr-right" class="panel-default data-text">
			<h3>Classification - Logistic Regression</h3>
				<p>Determining the probability that a loan will default, be prepaid, or be fully paid was handled through an application of a logistic regression algorithm, as implemented by scikit-learn. Each feature was scaled to have zero mean and unit variance. It was then split into 3 distinct groups - a training group consisting of 90% of the data, a cross-validation group with 10%, and a final testing group with 2000 loans.</p>
				<p>After cross-validating the logistic regression with a regularization parameter, it was found that a value of C = 0.01 led to the accuracy, precision, and recall values on the cross-validation set shown in the table on the left.</p>
		</div>
	</div>
	<div class="row">
		<div id="random-forest-left" class="panel-default data-text">
			<h3>Regression - Random Forest</h3>
				<p>To estimate how long it would take for a given loan to default or be prepaid, a random forest regressor was employed. Initially, a linear regression was used, but the overall fit and predictive abilities were too poor for the application.</p>
				<p>Through another cross-validation process, it was found that 100 trees in the forest resulted in a converged value of for the coefficient of determination (r-squared) of 0.60.</p>
		</div>
		<div id="random-forest-plot" class="data-story-plot panel-body">d</div>
	</div>
	<div class="row">
		<h2 class="center">Results and Insights</h2>
		<div class="panel-default">
			<div id="case-study-plot" class="data-story-plot panel-body"></div>
			<div id="case-study-right" class="panel-default data-text">
				<h3>Case Study</h3>
				<p>The purpose of this project was to aid me in making investments in peer-to-peer loans. It was therefore critical to do a case study following a usual investment strategy for a small-time investor. 2000 A, B, and C grade loans originating in 2011 and 2012 were chosen at random. Of these, 10 were chosen from each grade and tracked for their ROI. How the 30 loans out of the possible 2000 were chosen is where it gets interesting.</p>
				<p><b>Strategy 1: Random </b>The first strategy was to choose the 10 loans from each grade at random. This happens more than you might imagine (at least in my naive case).</p>
				<p><b>Strategy 2: Lowest DTI </b>The second strategy was to choose loans from the borrowers with the lowest debt-to-income ratio, a common strategy among amateur investors.</p>
				<p><b>Strategy 3: Highest Interest Rate </b>The third strategy was to pick the loans in each grade with the highest interest rate. This mimicks the approach of a novice investor.</p>
				<p><b>Strategy 4: Loan Quickr Pickr - Highest Est. ROI </b>The fourth and final strategy was to choose the 10 loans from each grade which had the highest estimated return on investment, as predicted through the above analysis.</p>
				<p>The results are shown in the plot on the left. For this specific case, the loans chosen through Loan Quickr Pickr provided more than twice the return of the next best strategy. I'm not claiming that there isn't a better strategy out there, though. </p>
			</div>
		</div>
	</div>
</div>




{% endblock %}

{% block scripts %}
<script type="text/javascript" src="../static/js/highcharts.js"/></script>
<script type="text/javascript" src="../static/js/data_story.js"></script>
{%  endblock %}