<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Loan Quicker Picker - For Lending Club</title>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/sb-admin.css" rel="stylesheet">
    <link href="../static/css/plugins/morris.css" rel="stylesheet">
    <link href="../static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../static/css/tablesorter_blue.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Loan Quicker Picker</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li>
                    <a href="#"> <b>Home</b></a>
                </li>
                <li>
                    <a href="#"> <b>Algorithm</b></a>
                </li>
                <li>
                    <a href="#"> <b>Aggregate Data</b></a>
                </li>
            </ul>
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                         
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12" id="graph-div">
                        <div class="panel panel-default">
                            
                            <div class="panel-body">
                                <div id="default-prob-chart"> Hello </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12" id="graph-div-2">
                        <div class="panel panel-default">
                            
                            <div class="panel-body">
                                <div id="roi-chart"> Hello </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-4" id="loans-info">
                        <div>
                            <div class="panel-heading">
                                <h3 class="panel-title">Loans Currently Available on the Lending Club Marketplace</h3>
                            </div>
                            <div class="panel-body">
                                <div class="loan" id="loans-left">
                                    <table id="topTable" class="tablesorter" cellspacing=1> 
			                            <thead> 
			                            <tr>
                                            <th></th> 
			                                <th>Grade</th> 
			                                <th>Interest Rate</th> 
			                                <th>Amount</th> 
			                                <th>Default Prob.</th>
			                            </tr> 
			                            </thead> 
			                            <tbody>
			                            {% for loan in loans %}
			                            <tr class="loan-tr tr-active" id="{{loan['id']}}"> 
			                                <td>{{loan['index']}}</td> 
			                                <td>{{loan['grade']}}</td> 
			                                <td>{{loan['intRate']}}%</td> 
			                                <td>${{loan['loanAmnt']}}0</td>
			                                <td>{{loan['defaultProb']}}</td> 
			                            </tr>
			                            {% endfor %}
			                            </tbody> 
			                        </table>
                                    <div id="hidden">
    			                        <div class="panel panel-default" id="loan-detail">
    			                        	<div class="loan-detail" id="loan-detail-borrower">
    			                        		<h3>Borrower <span id="loan-borrowerId">h{{loans[1]['memberId']}}</span></h3>
    			                        		<div class="loan-detail-left">
    				                        		<ul>
    				                        			<li>Loan Submitted: <b><span id="loan-acceptD">{{loans[0]['acceptD']}}</span></b></li>
    				                        			<li>Monthly Payment: $<b><span id="loan-installment">{{loans[0]['installment']}}</span></b></li>
    				                        		</ul>
    			                        		</div>
    			                        		<div class="loan-detail-right">
    				                        		<ul>
    				                        			<li>Review Status: <b><span id="loan-reviewStatus">{{loans[0]['reviewStatus']}}</span></b></li>
    				                        			<li>Loan ID: <b><span id="loan-id">{{loans[0]['id']}}</span></b></li>
    				                        		</ul>
    			                        		</div>
    			                        	</div>
    			                        	<div class="loan-detail" id="loan-detail-borrower-profile">
    			                        		<h3>Borrower Profile</h3>
    			                        		<div class="loan-detail-left">
    				                        		<ul>
    				                        			<li>Gross Income: <b>$<span id="loan-annualInc">{{loans[0]['annualInc']}}</span></b></li>
    				                        			<li>Home Ownership: <b><span id="loan-homeOwnership">{{loans[0]['homeOwnership']}}</span></b></li>
    				                        			<li>Length of Employment: <b><span id="loan-empLength">{{loans[0]['empLength']}}</span> years</b></li>
    				                        		</ul>
    				                        	</div>
    				                        	<div class="loan-detail-right">
    				                        		<ul>
    				                        			<li>Job Title: <b><span id="loan-occupation">{{loans[0]['occupation']}}</span></b></li>
    				                        			<li>Location: <b><span id="loan-location">{{loans[0]['addrZip']}}, {{loans[0]['addrState']}}</span></b></li>
    				                        			<li>Debt-to-Income (DTI): <b><span id="loan-dti">{{loans[0]['dti']}}</span></b></li>
    				                        		</ul>
    				                        	</div>
    			                        	</div>
    			                        	<div class="loan-detail" id="loan-detail-borrower-credit">
    			                        		<h3>Borrower Credit History</h3>
    			                        		<div class="loan-detail-left">
    				                        		<ul>
    				                        			<li>Credit Score Range: <b><span id="loan-ficoRange">{{loans[0]['ficoRangeLow']}} - {{loans[0]['ficoRangeHigh']}}</span></b></li>
    				                        			<li>Earliest Credit Line: <b><span id="loan-earliestCrLine">{{loans[0]['earliestCrLine']}}</span></b></li>
    				                        			<li>Open Credit Lines: <b><span id="loan-openAccts">{{loans[0]['openAccts']}}</span></b></li>
    				                        			<li>Total Credit Lines: <b><span id="loan-totalAcc">{{loans[0]['totalAcc']}}</span></b></li>
    				                        			<li>Revolving Card Balance: <b>$<span id="loan-revolBal">{{loans[0]['revolBal']}}</span></b></li>
    				                        			<li>Revolving Line Utilization: <b><span id="loan-revolUtil">{{loans[0]['revolUtil']}}%</span></b></li>
    				                        			<li>Inquiries in Last 6 Months: <b><span id="loan-inqLast6Mths">{{loans[0]['inqLast6Mths']}}</span></b></li>
    				                        			<li>Accounts Now Delinquent: <b><span id="loan-accNowDelinq">{{loans[0]['accNowDelinq']}}</span></b></li>
    				                        		</ul>
    				                        	</div>
    				                        	<div class="loan-detail-right">
    				                        		<ul>
    				                        			<li>Delinquent Amount: <b>$<span id="loan-delinqAmnt">{{loans[0]['delinqAmnt']}}</span></b></li>
    				                        			<li>Delinquencies (last 2 years): <b><span id="loan-delinq2Yrs">{{loans[0]['delinq2Yrs']}}</span></b></li>
    				                        			<li>Months Since Last delinquency: <b><span id="loan-mthsSinceLastDelinq">{{loans[0]['mthsSinceLastDelinq']}}</span></b></li>
    				                        			<li>Public Records on File: <b><span id="loan-pubRec">{{loans[0]['pubRec']}}</span></b></li>
    				                        			<li>Months Since Last Record: <b><span id="mthsSinceLastRecord">{{loans[0]['mthsSinceLastRecord']}}</span></b></li>
    				                        			<li>Months Since Last Major Derogatory: <b><span id="loan-mthsSinceLastMajorDerog">{{loans[0]['mthsSinceLastMajorDerog']}}</span></b></li>
    				                        			<li>Collections Excluding Medical: <b>$<span id="loan-collections12MthsExMed">{{loans[0]['collections12MthsExMed']}}</span></b></li>
    				                        			<li><br/></li>
    				                        		</ul>
    				                        	</div>
    			                        	</div>
    			                        	<div class="loan-detail" id="loan-detail-loan-description">
    			                        		<h3>Loan Description</h3>
    			                        		<ul>
    			                        			<li><span id="loan-description">{{loans[0]['description']}}</span></li>
    			                        		</ul>
    			                        	</div>
    			                        	<div class="loan-detail" id="loan-detail-analysis">
    			                        		<h3>Analysis</h3>
    			                        		
    			                        	</div>
    			                        </div>
                                    </div> <!-- /.hidden -->
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- /.row -->

                
            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.tablesorter.js"/></script> 
    <script type="text/javascript" src="../static/js/js_scripts.js"/></script>
    <script src="../static/js/Highcharts/js/highcharts.js"></script>

</body>

</html>
